$cellContentHeight: 50px;
$headerHeight: 50px;
$cellWidth: 200px;
$borderColor: #666;

.schedule-table {
    border-collapse: collapse;
    border: 1px solid $borderColor;

    thead {
        position: sticky;
        top: 0;
        background-color: #9bd5a2;

        th {
            height: $headerHeight;
            width: $cellWidth;
            min-width: $cellWidth;
            border: 1px solid $borderColor;
            font-weight: bold;
            font-size: 22px;
        }
    }

    td {
        max-width: $cellWidth;
        min-width: $cellWidth;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;

        .cell-content {
            line-height: $cellContentHeight;
            height: $cellContentHeight;
            padding: 0 10px;
            margin: 0;
            border: 1px solid #9bd5a2;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 18px;
            background-color: #d5ecda;
        }
    }
}
