<table class="schedule-table">
    <thead>
        <tr>
            <ng-container *ngFor="let slot of slots | keyvalue; last as isLast">
                <th *ngIf="!isLast">{{ slot.key | date: 'hh:mm a' }}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of matrix">
            <ng-container *ngFor="let session of row; last as isLast">
                <ng-container *ngIf="!isLast">
                    <ng-template #blank_node>
                        <td></td>
                    </ng-template>
                    <td *ngIf="session?.id; else blank_node" [attr.colspan]="session?.duration()">
                        <p class="cell-content" *ngIf="session?.id">
                            {{ session.title }}
                        </p>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </tbody>
</table>
