$cellContentHeight: 50px;
$headerHeight: 50px;
$cellWidth: 250px;
$mainColor: #6AABD2;
$mainColorLight: #D9E4EC;
$mainColorDark: #385E72;

.schedule-table {
    border-collapse: collapse;
    border: 1px solid $mainColorLight;

    thead {
        position: sticky;
        top: 0;
        background-color: $mainColorDark;
        color: $mainColorLight;
        -webkit-box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 50%);
        box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 50%);

        th {
            height: $headerHeight;
            width: $cellWidth;
            min-width: $cellWidth;
            border: 1px solid $mainColorLight;
            font-weight: bold;
            font-size: 22px;
        }
    }

    td {
        max-width: $cellWidth;
        min-width: $cellWidth;
        border-left: 1px solid $mainColorLight;
        border-right: 1px solid $mainColorLight;

        .cell-content {
            line-height: $cellContentHeight;
            height: $cellContentHeight;
            padding: 0 16px;
            margin: 0;
            border: 1px solid $mainColor;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 18px;
            background-color: $mainColor;
        }
    }
}